@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

main {
  margin: auto;
  width: 400px;
  background-color: #221f1f;
  color: white;
  font-family: "Cormorant", serif;
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  color: white;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
nav .nav__largemenu {
  display: none;
  justify-content: flex-end;
  width: 400px;
}
nav .nav__largemenu a {
  color: white;
  text-decoration: none;
}
nav .nav__largemenu a:hover {
  color: #d3bea0;
}
nav h1 {
  font-size: 1rem;
}
nav .nav__namechange {
  color: #d3bea0;
}
nav .nav__mediamenu {
  position: relative;
  display: inline-block;
}
nav .nav__mediamenu a {
  color: white;
  text-decoration: none;
}
nav .nav__mediamenu a:hover {
  color: #d3bea0;
}
nav .nav__mediamenu--dropdown {
  display: none;
  position: absolute;
  background-color: #3a3232;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  line-height: 2;
  z-index: 1;
}
nav .nav__mediamenu:hover .nav__mediamenu--dropdown {
  display: block;
}

.intro {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.intro .intro__headline h1 {
  font-size: 3.8rem;
}
.intro .intro__line {
  border: 2px solid #d3bea0;
  width: 96px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.intro .intro__text {
  max-width: 500px;
  line-height: 1.2;
}

.portfolio-header {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.portfolio-header div {
  margin-right: 10px;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.portfolio .portfolio-img {
  width: 350px;
}
.portfolio .portfolio__linkline {
  display: flex;
  justify-content: space-between;
}
.portfolio .portfolio__linklike-subflex {
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.portfolio .portfolio__bottomline {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.about {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}
.about .about__lineimg {
  border: 1px solid #d3bea0;
  width: 45px;
}
.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 330px;
  height: auto;
  text-align: center;
}

.expANDint {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.expANDint .experience, .expANDint .interests {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}

.subfooter {
  margin-bottom: 50px;
}
.subfooter .subfooter__div {
  text-align: center;
  align-items: center;
  padding: 30px;
}
.subfooter .subfooter__div h3 {
  font-size: 6rem;
}
.subfooter button {
  width: 272px;
  height: 79px;
  background-color: #221f1f;
  border: 1px solid #d3bea0;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #3a3232;
  width: 100%;
}
footer .footer__holder {
  width: 55px;
  height: 55px;
  background-color: #453f3f;
  border-radius: 50px;
  margin: 20px;
}
footer .footer__holder--img1 {
  padding-top: 13.5px;
  padding-left: 13.5px;
}
footer .footer__holder--img2 {
  padding-top: 13.885px;
  padding-left: 13.515px;
}
footer .footer__holder--img3 {
  padding-top: 19px;
  padding-left: 12px;
}
footer .footer__holder:hover {
  background-color: rgb(157, 157, 157);
}

.collapsible {
  background-color: #221f1f;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Cormorant", serif;
  font-size: 1.25rem;
}

.active, .collapsible:hover {
  background-color: #3a3232;
}

.collapsible:after {
  content: "+";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.content {
  padding: 0 10px 20px 20px;
  display: none;
  overflow: hidden;
  background-color: #3a3232;
}

@media only screen and (min-width: 768px) {
  main {
    width: 760px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav__largemenu {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  nav .nav__mediamenu {
    display: none;
  }
  .portfolio__cardholder1, .portfolio__cardholder2, .portfolio__cardholder3, .portfolio__cardholder4, .portfolio__cardholder5, .portfolio__cardholder6 {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    width: 1125px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav__largemenu {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  nav .nav__mediamenu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */