@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font is cormorant



$background-color: #221f1f;
$text-color: white;
$secondary-coloring: #d3bea0;
$secondary-bg-color: #3a3232;

$primary-font:'Cormorant', serif;
// $primary-font:'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke; // color for working purposes only, remove at end.

}

main {
  margin: auto;
  width: 400px;
  background-color: $background-color;
  color: $text-color;
  // padding-left: 15px;
  // padding-right: 15px;
  font-family: $primary-font;
  font-size: 1.20rem;
}

// Main page styling from here

// *** nav styling start
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  color: white;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;

    .nav__largemenu {
      display: none;
      justify-content: flex-end;
      width: 400px;

      a {
        color: $text-color;
        text-decoration: none;
      }

      a:hover {
        color: $secondary-coloring;
      }
    }

    h1 {
    font-size: 1rem;
    }

    .nav__namechange{
      color: $secondary-coloring;
    }

    .nav__mediamenu {
      position: relative;
      display: inline-block;

      a {
        color: $text-color;
        text-decoration: none;
      }

      a:hover {
        color: $secondary-coloring;
      }
    }
    
    .nav__mediamenu--dropdown {
      display: none;
      position: absolute;
      background-color: $secondary-bg-color;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      line-height: 2;
      z-index: 1;
    }
    
    .nav__mediamenu:hover .nav__mediamenu--dropdown {
      display: block;
    }
}
// *** nav styling end


// *** intro styling start
.intro {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    .intro__headline h1 {
      font-size: 3.8rem;
    }

    .intro__line{
      border: 2px solid $secondary-coloring;
      width: 96px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .intro__text{
      max-width: 500px;
      line-height: 1.2;
    }

  
}
// *** intro styling end

// *** portfolio header styling start
.portfolio-header {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

    div {
      margin-right: 10px;
    }
}
// *** portfolio header styling end

// *** portfolio styling start
.portfolio {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  // all these are within portfolio__cardholders
    .portfolio-img {
      width: 350px;
    }

    .portfolio__linkline {
      display: flex;
      justify-content: space-between;
    }

    .portfolio__linklike-subflex {
      display: flex;
      justify-content: space-between;
      width: 50px;
    }

    .portfolio__bottomline{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 35px;
    }

}
// *** portfolio styling end

// *** about styling begin
.about {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;

    .about__lineimg {
      border: 1px solid $secondary-coloring;
      width: 45px;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 330px;
      height: auto;
      text-align: center;
    }
}
// *** about styling end

// *** expANDint styling begin
.expANDint {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .experience, .interests {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
  }
}
// *** expANDint styling end

// *** subfooter styling start

.subfooter {
  margin-bottom: 50px;

  .subfooter__div {
  text-align: center;
  align-items: center;
  padding: 30px;

    h3 {
      font-size: 6rem;
    }
  }
    button {
      width: 272px;
      height: 79px;
      background-color: $background-color;
      border: 1px solid $secondary-coloring;
      // font-family: ;
      color: $text-color;
    }

}
// *** subfooter styling end

// *** footer styling start
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $secondary-bg-color;
  width: 100%;


    .footer__holder {
    width: 55px;
    height: 55px;
    background-color: #453f3f;
    border-radius: 50px;
    margin: 20px;
  }

    .footer__holder--img1{
    padding-top: 13.5px;
    padding-left: 13.5px;
  }

    .footer__holder--img2{
    padding-top: 13.885px;
    padding-left: 13.515px;
  }

    .footer__holder--img3{
    padding-top: 19px;
    padding-left: 12px;
  }

  .footer__holder:hover{
    background-color: rgb(157, 157, 157);
  }
}
// *** footer styling end


//***** COLLAPSIBLE
.collapsible {
  background-color: $background-color;
  color: $text-color;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: $primary-font;
  font-size: 1.25rem;
}

.active, .collapsible:hover {
  background-color: $secondary-bg-color;
}
    
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 10px 20px 20px;
  display: none;
  overflow: hidden;
  background-color: $secondary-bg-color;
}
//***** COLLAPSIBLE


// *** MEDIA QUERY - TRIALS ***
// MQ Phone to tablet
@media only screen and (min-width: 768px) {
  
  main {
    width: 760px;
  }
    // >>> SEE NAV FOR MAKING FLEX VANISH & RETURN<<
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
      
      .nav__largemenu {
        display: flex;
        justify-content: space-between;
        width: 300px;
      }

      .nav__mediamenu{
        display: none;
      }



  }

  .portfolio__cardholder1, .portfolio__cardholder2, .portfolio__cardholder3, .portfolio__cardholder4, .portfolio__cardholder5, .portfolio__cardholder6 {
    margin-right: 5px;
    margin-left: 5px;
  }
}

// MQ Tablet to PC
@media only screen and (min-width: 1200px) {
  
  main {
    width: 1125px;
  }
// >>> SEE NAV FOR MAKING FLEX VANISH & RETURN<<
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
      
      .nav__largemenu {
        display: flex;
        justify-content: space-between;
        width: 300px;
      }



      .nav__mediamenu{
        display: none;
      }


  
  }
}
// // *** MEDIA QUERY - TRIALS ***